<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Codis365 Backend - @ViewData["Title"]</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("Styles", required: false)
    }

    <environment names="Development">
        <link rel="stylesheet" href="~/inspinia/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/login/fonts/font-awesome-4.7.0/css/font-awesome.css" />
        <link rel="stylesheet" href="~/inspinia/css/animate.css" />
        <link rel="stylesheet" href="~/inspinia/css/style.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/views/chat.css" asp-append-version="true" />

        <script src="~/lib/signalr/dist/browser/signalr.js"></script>
        <script src="~/js/security.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/inspinia/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/inspinia/css/animate.css" />
        <link rel="stylesheet" href="~/inspinia/css/style.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/views/chat.css" asp-append-version="true" />

        <script src="~/lib/signalr/dist/browser/signalr.js"></script>
        <script src="~/js/security.js" asp-append-version="true"></script>
    </environment>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/inspinia/lib/jquery/dist/jquery.js"></script>
        <script src="~/inspinia/lib/Popper/popper.min.js"></script>
        <script src="~/inspinia/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/inspinia/lib/metisMenu/dist/jquery.metisMenu.js"></script>
        <script src="~/inspinia/lib/slimScroll/jquery.slimscroll.js"></script>
        <script src="~/inspinia/js/script.js" asp-append-version="true"></script>
        <script src="~/lib/spin/spin.js" asp-append-version="true"></script>
        <script src="~/js/iLabSpinner.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/inspinia/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/inspinia/lib/Popper/popper.min.js"></script>
        <script src="~/inspinia/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/inspinia/lib/metisMenu/dist/jquery.metisMenu.js"></script>
        <script src="~/inspinia/lib/slimScroll/jquery.slimscroll.min.js"></script>
        <script src="~/inspinia/js/script.js" asp-append-version="true"></script>
        <script src="~/lib/spin/spin.js" asp-append-version="true"></script>
        <script src="~/js/iLabSpinner.js" asp-append-version="true"></script>
    </environment>

</head>

<body class="fixed-nav fixed-nav-basic pace-done fixed-sidebar">
    <environment names="Development">
        <!-- Skin configuration box -->
    </environment>

    <!-- Wrapper-->
    <div id="wrapper" class="@Html.PageClass()">
        <!-- Navigation -->
        <partial name="_Navigation" />

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">

            <!-- Top Navbar -->
            <partial name="_TopNavbar" />

            <!-- Main view  -->
            @RenderBody()

            <!-- Support Chat -->
            <partial name="_SupportChat" />

            <!-- Footer -->
            <partial name="_Footer" />

        </div>
        <!-- End page wrapper-->
    </div>
    <!-- End wrapper-->

    @RenderSection("toast", required: false)

    @RenderSection("scripts", required: false)

</body>
</html>