@model Entities.DTOs.LoginUserDTO

@{
    ViewData["Title"] = @Localizer["passwordChange.Pagetitle"];
}

@section HeadContent {
    <meta name="description" content="Reset your Codis365 password securely and quickly.">
}

<!DOCTYPE HTML>
<html>
<body>
	<div class="limiter">
		<div class="container-login100">
				<div id="loaderlayout" style="display:none"></div>
				<div class="wrap-login100">
					<form id="loginForm" class="login100-form validate-form" method="post" asp-controller="SignIn" asp-action="PasswordChange">

						<span class="login100-form-title p-b-15">
		  					<img src="~/lib/login/images/codis365.jpg" alt="Codis365 Logo" height="120">
						</span>

   						<span class="p-b-60">@Localizer["passwordChange.Title"]</span>

						<div id="passwordDivRepeat" class="wrap-input100 m-t-40" data-validate='@Localizer["createAccount.Pattern"]'>
							<span class="btn-show-pass">
								<i class="zmdi zmdi-eye"></i>
							</span>
							<input asp-for="Password" id="Password" class="input100" type="password" name="Password" autocomplete="current-password" title="Password must contain at least 8 characters, including 1 uppercase letter, 1 lowercase letter, 1 number and 1 special character.">
							<span class="focus-input100" data-placeholder="Password"></span>
						</div>

						<div id="passwordDiv" class="wrap-input100 m-t-30" data-validate='@Localizer["createAccount.Pattern"]'>
							<span class="btn-show-pass">
								<i class="zmdi zmdi-eye"></i>
							</span>
							<input asp-for="Password" id="PasswordRepeat" class="input100" type="password" name="PasswordRepeat" autocomplete="current-password" title='@Localizer["createAccount.PatternError"]'>
							<span class="focus-input100" data-placeholder='@Localizer["createAccount.RepeatPassword"]'></span>
						</div>
						
						<input type="hidden" id="hiddenAuthToken" name="AuthToken" value="@Model.AuthToken" />

						<div asp-validation-summary="All" id="asp-validation-summary" class="text-danger m-t-15 m-b-15"></div>

						<div class="container-login100-form-btn m-t-50">
							<div class="wrap-login100-form-btn">
								<div class="login100-form-bgbtn"></div>
									<button id="loginButton" class="login100-form-btn" />									
										Reset Password 
									</button>
							</div>
						</div>
					</form>
				</div>
		</div>
	</div>

	<div id="dropDownSelect1"></div>
	
	<script asp-append-version="true" src="~/js/iLabSpinner.js"></script>
	<script src="~/lib/login/vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="~/lib/login/vendor/animsition/js/animsition.min.js"></script>
	<script src="~/lib/login/vendor/bootstrap/js/popper.js"></script>
	<script src="~/lib/login/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="~/lib/login/vendor/select2/select2.min.js"></script>
	<script src="~/lib/login/vendor/daterangepicker/moment.min.js"></script>
	<script src="~/lib/login/vendor/daterangepicker/daterangepicker.js"></script>
	<script src="~/lib/login/vendor/countdowntime/countdowntime.js"></script>
	<script src="~/lib/login/js/main.js"></script>
	<script src="~/lib/spin/spin.js"></script>
</body>
</html>

<script>
	iLabSpinner = Rats.UI.LoadAnimation.start();
	$(document).ready(function () {
		$('#loaderlayout').css("display", "none");
		iLabSpinner.stop();
	});

	var regexPattern1 = /^[a-zA-Z0-9._%+-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
	var regexPattern2 = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@@$!%*?&])[A-Za-z\d@@$!%*?&]{8,}$/;

    function showValidate(input) {
        var thisAlert = $(input).parent();
        $(thisAlert).addClass('alert-validate');
    }

	document.addEventListener('DOMContentLoaded', function() {

		var loginForm = document.getElementById('loginForm');
		var password = document.getElementById('Password');
		var passwordrepeat = document.getElementById('PasswordRepeat');

		password.value = "";
		passwordrepeat.value = "";

		loginForm.addEventListener('submit', function(event) {

			var validationSummary = document.getElementById('asp-validation-summary');
			validationSummary.style.display = 'none';

			if (!regexPattern2.test(password.value)) {
				iLabSpinner.stop();
				showValidate(password);
				event.preventDefault();
				return;
			}

			if (!regexPattern2.test(passwordrepeat.value)) {
				iLabSpinner.stop();
				showValidate(passwordrepeat);
				event.preventDefault();
				return;
			}

			if (password.value !== passwordrepeat.value) {
				iLabSpinner.stop();
				var passwordDiv = document.getElementById('passwordDiv');
				var passwordDivRepeat = document.getElementById('passwordDivRepeat');
                passwordDiv.setAttribute('data-validate', '@Localizer["createAccount.PasswordDoNotMatch"]');
                passwordDivRepeat.setAttribute('data-validate', '@Localizer["createAccount.PasswordDoNotMatch"]');
				showValidate(password);
				showValidate(passwordrepeat);
				event.preventDefault();
				return;
			}

			iLabSpinner.stop();
			iLabSpinner = Rats.UI.LoadAnimation.start();
			$('#loaderlayout').css("display", "block");
		});
	});
</script>
