@model Entities.DTOs.LoginUserDTO

@{
    ViewData["Title"] = @Localizer["passwordRecovery.Pagetitle"];
}

@section HeadContent {
    <meta name="description" content="Reset your Codis365 password securely and quickly.">
}

<!DOCTYPE HTML>
<html>
<body>
	<div class="limiter">
		<div class="container-login100">
				<div id="loaderlayout" style="display:none"></div>
				<div class="wrap-login100">
					<form id="loginForm" class="login100-form validate-form" method="get" asp-controller="SignIn" asp-action="PasswordRecoverySentLink">

						<span class="login100-form-title p-b-15">
		  					<img src="~/lib/login/images/codis365.jpg" alt="Codis365 Logo" height="120">
						</span>

						<div class="recovertext m-b-40">
							@Localizer["passwordRecovery.Title"]
						</div>

						<div id="usernameDiv" class="wrap-input100 m-b-30" data-validate = '@Localizer["passwordRecovery.InvalidEmail"]'>
							<input asp-for="Username" id="Username" class="input100" type="email" title='@Localizer["passwordRecovery.Provide"]'>
							<span class="focus-input100" data-placeholder="Email"></span>
						</div>

						<div asp-validation-summary="All" class="text-danger m-t-15 m-b-15"></div>

						<div class="container-login100-form-btn">
							<div class="wrap-login100-form-btn">
								<div class="login100-form-bgbtn"></div>
									<button id="loginButton" class="login100-form-btn" />									
										@Localizer["passwordRecovery.PasswordRecovery"] 
									</button>
							</div>
						</div>
					</form>
				</div>
		</div>
	</div>

	<div id="dropDownSelect1"></div>
	
	<script asp-append-version="true" src="~/js/iLabSpinner.js"></script>
	<script src="~/lib/login/vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="~/lib/login/vendor/animsition/js/animsition.min.js"></script>
	<script src="~/lib/login/vendor/bootstrap/js/popper.js"></script>
	<script src="~/lib/login/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="~/lib/login/vendor/select2/select2.min.js"></script>
	<script src="~/lib/login/vendor/daterangepicker/moment.min.js"></script>
	<script src="~/lib/login/vendor/daterangepicker/daterangepicker.js"></script>
	<script src="~/lib/login/vendor/countdowntime/countdowntime.js"></script>
	<script src="~/lib/login/js/main.js"></script>
	<script src="~/lib/spin/spin.js"></script>
</body>
</html>

<script>
	iLabSpinner = Rats.UI.LoadAnimation.stop();
	$(document).ready(function () {
		$('#loaderlayout').css("display", "none");
		iLabSpinner.stop();
	});

	var regexPattern1 = /^[a-zA-Z0-9._%+-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
	var regexPattern2 = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@@$!%*?&])[A-Za-z\d@@$!%*?&]{8,}$/;

    function showValidate(input) {
        var thisAlert = $(input).parent();
        $(thisAlert).addClass('alert-validate');
    }

	document.addEventListener('DOMContentLoaded', function() {

		iLabSpinner.stop();
		var loginForm = document.getElementById('loginForm');
		var username = document.getElementById('Username');

		loginForm.addEventListener('submit', function(event) {

			if (!regexPattern1.test(username.value)) {
				iLabSpinner.stop();
				showValidate(username);
				event.preventDefault();
				return;
			}

			iLabSpinner = Rats.UI.LoadAnimation.start();
			$('#loaderlayout').css("display", "block");
		});
	});
</script>
