@using Entities.DTOs
@model DashboardUserProfileDTO;

@{
    ViewData["Title"] = @Localizer["settings.Title"];
    Random rand = new Random();
    int productsCount = rand.Next(100, 200); 
    int qrReadingsCount = rand.Next(1000, 5000); 
    int interactionsCount = rand.Next(400, 15000);  
}

<link rel="stylesheet" href="~/css/views/settings.css" asp-append-version="true" />
<script src="~/js/views/settings.js" asp-append-version="true"></script>

<div class="row wrapper white-bg page-heading">
    <div class="col-lg-12">
        <h2>@Localizer["settings.SettingsOverview"]</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>@Localizer["settings.SettingsAndSecurity"]</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>@Localizer["settings.Settings"]</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row m-b-lg m-t-lg">
        <div class="col-md-8">

            <div class="profile-image">
                <img src="~/images/profile_medium.jpg" title="Click to change profile image..." class="rounded-circle circle-border m-b-md" alt="profile" style="cursor: pointer">
            </div>
            <div class="profile-info">
                <div class="">
                    <div>
                        <h2 class="no-margins">
                            @Model.UserName
                        </h2>
                        <h4>Email: <a href="#">@Model.UserLogin</a></h4>
                        <h4>@Localizer["settings.ProfileType"]@Model.UserProfile</h4>

                        @if (@Model.UserProfile == "Web User")
                        {
                            <small style="font-family: Montserrat">
                                <cite>Web User, </cite>@Localizer["settings.WebUserProfile"]
                            </small>
                        }
                        else 
                        {
                            <small style="font-family: Montserrat">
                                <cite>API User, </cite>@Localizer["settings.APIUserProfile"]
                            </small>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <table class="table small m-b-xs">
                <tbody>
                    <tr>
                        <td>
                            <strong>@productsCount.ToString("N0")</strong>@Localizer["settings.Products"]
                        </td>
                        <td>
                            <strong>@qrReadingsCount.ToString("N0")</strong>@Localizer["settings.QRReadings"]
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>@interactionsCount.ToString("N0")</strong>@Localizer["settings.Interactions"] 
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-5">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>@Localizer["settings.UserProfile"]</h5>
                </div>

                <div class="ibox-content">
                    <form role="form">
                        <div class="form-group"><label>@Localizer["settings.Name"]</label> <input type="" placeholder="@Model.UserName" class="form-control"></div>
                        <div class="form-group"><label>@Localizer["settings.Surname"]</label> <input type="" placeholder="" class="form-control"></div>
                        <div>
                            <button class="btn btn-sm btn-primary float-right m-t-n-xs" type="submit"><strong>@Localizer["settings.SaveData"]</strong></button>
                            <label>  </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-7">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>@Localizer["settings.GRDP"]</h5>
                </div>
                <div class="ibox-content">
                    <form role="form">
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="" checked>
                                    <small class="grdp">@Html.Raw(Localizer["settings.grdp1"])</small>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="" checked>
                                    <small class="grdp">@Html.Raw(Localizer["settings.grdp2"])</cite>.</small>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">

                <div class="ibox-title">
                    <h5>@Localizer["settings.AplicationsSettings"]</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                            <thead>
                                <tr>
                                    <th data-toggle="true">@Localizer["settings.Setting"]</th>
                                    <th data-hide="description">@Localizer["settings.Description"]</th>
                                    <th data-hide="value">@Localizer["settings.Value"]</th>
                                    <th data-hide="lastu">@Localizer["settings.LastUpdate"]</th>
                                    <th data-hide="status">@Localizer["settings.Status"]</th>
                                    <th class="text-right" data-sort-ignore="true">@Localizer["settings.Action"]</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Localizer["settings.IdleTimeout"]</td>
                                    <td>@Localizer["settings.IdleTimeoutTxt"]</td>
                                    <td>
                                        30''
                                    </td>
                                    <td>
                                        <span class="label label-primary">2024-11-02, 13:46</span>
                                    </td>
                                    <td>
                                        <span class="label label-primary">@Localizer["settings.Active"]</span>
                                    </td>
                                    <td class="text-right">
                                          <a href="#" title="Modify" ><i class="fa fa-edit text-navy"></i></a>
                                          <a href="#" title="Delete" ><i class="fa fa-trash text-navy"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>@Localizer["settings.NotificationEmail"]</td>
                                    <td>@Localizer["settings.NotificationEmailTxt"]</td>
                                    <td>
                                        <a href="#"><i class="fa fa-check text-navy"></i></a>
                                    </td>
                                    <td>
                                        <span class="label label-primary">2024-10-14, 19:28</span>
                                    </td>
                                    <td>
                                        <span class="label label-primary">@Localizer["settings.Active"]</span>
                                    </td>
                                    <td class="text-right">
                                          <a href="#" title="Modify" ><i class="fa fa-edit text-navy"></i></a>
                                          <a href="#" title="Delete" ><i class="fa fa-trash text-navy"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>@Localizer["settings.NotificationSMS"]</td>
                                    <td>@Localizer["settings.NotificationSMSTxt"]</td>
                                    <td>
                                        <a href="#"><i class="fa fa-window-close text-navy" style="color:red!important"></i></a>
                                    </td>
                                    <td>
                                        <span class="label label-primary">2024-10-29, 11:34</span>
                                    </td>
                                    <td>
                                        <span class="label label-primary" style="background-color:red">@Localizer["settings.Disabled"]</span>
                                    </td>
                                    <td class="text-right">
                                          <a href="#" title="Modify" ><i class="fa fa-edit text-navy"></i></a>
                                          <a href="#" title="Delete" ><i class="fa fa-trash text-navy"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6">
                                        <ul class="pagination float-right"></ul>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

@section Styles {
    <environment names="Development">
        <link rel="stylesheet" href="~/inspinia/lib/footable/css/footable.core.css" />
        <link rel="stylesheet" href="~/inspinia/lib/iCheck/custom.css" />
        <link rel="stylesheet" href="~/inspinia/lib/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/inspinia/lib/footable/css/footable.core.min.css" />
        <link rel="stylesheet" href="~/inspinia/lib/iCheck/custom.css" />
        <link rel="stylesheet" href="~/inspinia/lib/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" />
    </environment>
}

@section Scripts {
    <environment names="Development,Staging,Production">
        <script src="~/inspinia/lib/footable/dist/footable.all.min.js"></script>
        <script src="~/inspinia/lib/iCheck/icheck.min.js"></script>
        <script src="~/inspinia/lib/sparkline/jquery.sparkline.min.js"></script>
    </environment>

    <script type="text/javascript">
        $(document).ready(function () {
            
            $('.footable').footable();

            $("#sparkline1").sparkline([34, 43, 43, 35, 44, 32, 44, 48], {
                type: 'line',
                width: '100%',
                height: '50',
                lineColor: '#1ab394',
                fillColor: "transparent"
            });

        });
    </script>
}

